<!DOCTYPE html>
<html>
<head>
	<title>{{ user.username }}'s profile</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	 {% load static %}
	 <link rel="stylesheet" href="{% static 'pinkslips/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <p class="navbar-brand">
	      	<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
	      </p>
	      <p class="navbar-brand">
	      	<a href="/home">home</a>
	      </p>
	      <p class="navbar-brand">
	      	<a href="/matches">matches({{ request.session.num }})</a>
	      </p>
	      <p class="navbar-brand">
	      	<a href="/edit">edit profile</a>
	      </p>
	    </div>
	    <p class="navbar-brand navbar-right"><a href="/logout" class="navbar-link">logout</a></p>
	  </div>
	</nav>
	<div><h2>your profile</h2></div>
	<div class="container centerlogo">
		<div class="imgdiv">

			<img src="{{ user.url }}" alt="gtr" class="img">

		</div>
	</div>
	<div class="row">
		<div class="column centerlogo">
			<button class="btn btn-danger right" disabled><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
		</div>
		<div class="column centerlogo">
			<button class="btn btn-success right" disabled><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<p>year: {{ user.year }}</p>
			<p>make: {{ user.make }}</p>
			<p>model: {{ user.model }}</p>
		</div>
		<div class="column">
			<p>power: {{ user.power }} hp</p>
			<p>weight: {{ user.weight}} lbs</p>
			<p>drivetrain: {{ user.dtrain }}</p>
		</div>
	</div>
	<div>
		<p>description: </p>
		<p class="text-center">{{ user.desc }}</p>
	</div>
</div>
</body>
</html>









