<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	 {% load static %}
	 <link rel="stylesheet" href="{% static 'pinkslips/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container half centerlogo">
	<h1>PINKSLIPS</h1>
	<form action="/register" method="post">
		{% if messages %}
  			<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
  			</ul>
  		{% endif %}
		{% csrf_token %}
		<div class="form-group centerlogo">
			<label>Username</label>
			<input type="text" name="uname" class="form-control">
		</div>
		<div class="form-group centerlogo">
			<label>Password</label>
			<input type="password" name="pword" class="form-control">
		</div>
		<div class="form-group centerlogo">
			<label>Confirm Password</label>
			<input type="password" name="cpword" class="form-control">
		</div>
		<hr>
		<div class="centerlogo"><input type="submit" name="submit" class="btn btn-danger" value="LET'S RACE"></div>
	</form>
	<br>
	<div class="centerlogo top"><a href="/"><button class="btn btn-danger">Returning Racer?</button></a></div>
</div>
</body>
</html>